.idea/
.idea/*
.vscode/
node_modules
node_modules/*
log.txt
package-lock.json
/.vscode
/playground.mongodb
/nbproject/private/
/nbproject/
/tmp/*
/tmp/
.env
request.http
.request
/logs/*
/logs
/log
dump.rdb
models/playground.mongodb
*.log
.clinic
./test.js
clinic.js
dbscripts/updateChannelsArtistsVideos.js
convert.js

**/.DS_Store
**/**.local.test.js